
/* --- Nav --- */
.navbar {
  background: white;
  height: 75px;
	width: 100%;
	padding-left: 55px;
	padding-right: 55px;

}

.navbar-brand {
	color:#779CAB;
	font-size:1.35em;
	font-family: 'Roboto', sans-serif;
}

.navbar-brand:hover {
	color: #2D393D;
	font-size: 1.35em;
	

}

.nav-link {
	color:#779CAB;
	font-size:1.25em;
	font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
	color: #2D393D;
	font-size:1.25em;
	text-decoration: underline;
}

.jumbotron {
background-color:#779CAB;
height: 200px;

}

img {
	max-width: 100%;
	max-height: 100%;
}

/* TYPOGRAPHY */

p {
	font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

h2 {
	
	font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.5em;
}


/* PROJECT SECTION */

	.card {
		border: none;
	}

	

/* FOOTER  */

.footer-basic-centered{
	background-color: #779CAB;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 25px;
	margin-top: 50px;
	
}

.footer-basic-centered .footer-contact-me{
	color: black;
	font-size: 22px;
	margin: 0;
}

.footer-basic-centered .footer-copyright{
	color: black;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  black;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 576px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}


/* --- RESPONSIVE --- */

@media (max-width: 576px) {
  .navbar {
    display: none;
  }

  .name-logo {
    font-size: 18px;
  }

  .header {
    font-size: 18px;
  }

  .about {
    font-size: 14px;
  }

  .card {
    margin: 10px 0px 10px 0px;
  }

  .row {
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-responsive {
    margin: 3% 10% 3% 10%;
  }

  .navbar-nav-left {
    margin: 0px 0px 0px 0px;
  }

  .name-logo {
    font-size: 20px;
  }

  .header {
    font-size: 24px;
  }
  .about {
    font-size: 20px;
  }

  .card {
    margin: 10px 0px 10px 0px;
  }

  .row {
    margin: 0px;
  }
}

@media (min-width: 769px) {
  .navbar-responsive {
    display: none !important;
  }

}